<div class="container">

  <!-- Header -->
  <app-header></app-header>

  <!-- Cards -->
<app-card></app-card>
  <!-- 1 card -->
  <!-- <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="assets/img/personnage-png-300x300.png">
        <button class="btn btn-outline-primary">Louer</button>
      </div>
    </div> -->

    <!-- 2 card -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="assets/img/personnage-png-300x300.png">
        <button class="btn btn-outline-primary">Louer</button>
      </div>
    </div> -->

    <!-- 3 card -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="assets/img/personnage-png-300x300.png">
        <button class="btn btn-outline-primary">Louer</button>
      </div>
    </div>
  </div> -->

</div>




<router-outlet></router-outlet>