<div class="row">
    <div *ngFor="let dev of developers" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <span>{{dev.name}}</span>
        <img [src]="dev.img">
        <!-- <div>{{dev.description}}</div> -->
        <app-binding></app-binding>
        <span [ngClass]="dev.price > 500? 'card red':'card green'">{{dev.price}} €</span>
            <button class="btn btn-outline-primary">Rent</button>
            <button (click)="delete(dev.id)">DELETE</button>
      </div>
    </div>
    <!-- 2 card -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="assets/img/personnage-png-300x300.png">
        <button class="btn btn-outline-primary">Louer</button>
      </div>
    </div> -->

    <!-- 3 card -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <img src="assets/img/personnage-png-300x300.png">
        <button class="btn btn-outline-primary">Louer</button>
      </div>
    </div>
  </div> -->